<div class="container" id="maindiv">

  <h2>Form TinyMCE Demo</h2>


  <h3>Feel free to explore</h3>


  <p>Click on the icon displaying 4 arrows to display the text editor in full screen</p>


  <form class="mw-100"
        [formGroup]="tinyMceForm"
        (ngSubmit)="onFormSubmit()"
        id="tinydemoform">

        <textarea
          [innerHTML]="defaultContent"
          class="form-control tiny-mce tinyMCE"
          formControlName="content"
          id="demotiny">
        </textarea>


    <div class="form-group">
      <button type="submit" id="submit">Submit
      </button>
    </div>

  </form>


  <h3>Submitted form content</h3>

  <p>The raw (text) content and the html content of the text editor will be displayed/updated in the following table on "Submit".</p>

  <table id="formOutput">
    <tr>
      <th>Raw content</th>
      <th>HTML content</th>
    </tr>
    <tr>
      <td>{{rawContent}}</td>
      <td>{{htmlContent}}</td>
    </tr>
  </table>

</div>














