<nav class="navbar navbar-expand-lg navbar-light bg-light">

<div style="margin: 20px ">

  <a style="margin: 20px "   class="navbar-brand" routerLink="/simple-tiny-mce">Simple TinyMce Demo</a>
  <a style="margin: 20px " class="navbar-brand" routerLink="/app-form-tiny-mce-demo">Form TinyMce Demo</a>


</div>



</nav>
