<h2 style="text-align: center; color: cadetblue">Simple TinyMce Text Editor Demo</h2>

<p>Click on the icon displaying 4 arrows to display the text editor in full screen and explore its menu</p>


<textarea id="mymce1">

</textarea>
