/* You can add global styles to this file, and also import other style files */
h1, h2, h3 {
  text-align: center;
  color: cadetblue;
  margin: 1em;
}

p {
  text-align: justify;
  letter-spacing: 0.1em;
}

#formOutput {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 3em 0em 3em 0em;

}

#formOutput td, #formOutput th {
  border: 1px solid #ddd;
  padding: 8px;
}

#formOutput tr:nth-child(even) {
  background-color: #f2f2f2;
}

#formOutput tr:hover {
  background-color: #ddd;
}

#formOutput th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}


#submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

textarea {
  max-width: 90%;
  width: 90%
}


/*
Keep the footer at the base of the page
 */
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

/*
Keep the footer at the base of the page end
 */
